<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %> 
    <link rel="stylesheet" href="/css/register-form.css">
    <link rel="stylesheet" href="/css/createProducts.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/nav-bar.css">
    <link rel="stylesheet" href="/css/footer.css">
    <title>Crear productos</title>
</head>
<body>
    <!-- Nav-bar -->
    <%- include('../partials/nav-bar') %>

    <main class="main-register main-create-product">
        <div class="register-wrapper">
            <h1 class="form-title">PUBLICA TU ANUNCIO</h1>
            <h2 class="form-subtitle ">Incluye algunos detalles</h2>

            <form action="/products/create" method="POST" enctype="multipart/form-data"> 
                <div class="register-form-left">
                    <h3 class="register-label">Marca</h3>
                    <div class="brand-model-container">
                        <div class="form-group brand">
                            <select class="country-combobox create-country" name="brand" id="brand">
                                <option value="1" <%= (old.brand == '1') ? "selected" : '' %>>Asics</option>
                                <option value="2" <%= (old.brand == '2') ? "selected" : '' %>>Adidas</option>
                                <option value="3" <%= (old.brand == '3') ? "selected" : '' %>>Nike</option>
                                <option value="4" <%= (old.brand == '4') ? "selected" : '' %>>Puma</option>
                                <option value="5" <%= (old.brand == '5') ? "selected" : '' %>>Reebok</option>
                                <option value="6" <%= (old.brand == '6') ? "selected" : '' %>>New Balance</option>
                                <option value="7" <%= (old.brand == '7') ? "selected" : '' %>>Brooks</option>
                                <option value="8" <%= (old.brand == '8') ? "selected" : '' %>>Mizuno</option>
                                <option value="9" <%= (old.brand == '9') ? "selected" : '' %>>Saucony</option>
                            </select>
                        </div>
                        <% if (locals.errors && errors.brand) { %>
                            <div class="text-danger">
                                <%= errors.brand.msg; %>
                            </div>
                        <% } %>
                        <div class="form-group first-last-name">
                            <label for="name">Modelo</label>
                            <input type="text" name="model" id="model"  value="<%= old.model %>">
                        </div>
                        <% if (locals.errors && errors.model) { %>
                            <div class="text-danger">
                                <%= errors.model.msg; %>
                            </div>
                        <% } %>
                    </div>
                    <div class="category-stock-container">
                        <div class="form-group category">
                            <h3 class="register-label">Categoria</h3>
                            <select class="country-combobox create-cbox" name="category" id="category">
                                <option value="1"  <%= (old.category == '1') ? "selected" : '' %>>Track & Field</option>
                                <option value="2" <%= (old.category == '2') ? "selected" : '' %>>Running</option>
                                <option value="3"  <%= (old.category == '3') ? "selected" : '' %>>Urban</option>
                                <option value="4"  <%= (old.category == '4') ? "selected" : '' %>>Football</option>
                                <option value="5"  <%= (old.category == '5') ? "selected" : '' %>>Training</option>
                            </select>
                            <% if (locals.errors && errors.category) { %>
                                <div class="text-danger">
                                    <%= errors.category.msg; %>
                                </div>
                            <% } %>
                        </div>
                        <div class="form-group stock">
                            <h3 class="register-label">Stock</h3>
                            <input type="number" name="stock" id="stock" value="<%= (old.stock) ? old.stock : 1 %>">
                            <% if (locals.errors && errors.stock) { %>
                                <div class="text-danger">
                                    <%= errors.stock.msg; %>
                                </div>
                            <% } %>
                        </div>
                    </div>
                    <div class="size-colors-container">
                        <div class="form-group talle">
                            <h3 class="register-label">Talles</h3>
                            <select class="country-combobox create-cbox" name="size" id="color">
                                <option value="34" <%= (old.size == '34') ? "selected" : '' %>>34</option>
                                <option value="35" <%= (old.size == '35') ? "selected" : '' %>>35</option>
                                <option value="36" <%= (old.size == '36') ? "selected" : '' %>>36</option>
                                <option value="37" <%= (old.size == '37') ? "selected" : '' %>>37</option>
                                <option value="38" <%= (old.size == '38') ? "selected" : '' %>>38</option>
                                <option value="39" <%= (old.size == '39') ? "selected" : '' %>>39</option>
                                <option value="40" <%= (old.size == '40') ? "selected" : '' %>>40</option>
                                <option value="41" <%= (old.size == '41') ? "selected" : '' %>>41</option>
                                <option value="42" <%= (old.size == '42') ? "selected" : '' %>>42</option>
                                <option value="43" <%= (old.size == '43') ? "selected" : '' %>>43</option>
                                <option value="44" <%= (old.size == '44') ? "selected" : '' %>>44</option>
                            </select>
                            <% if (locals.errors && errors.size) { %>
                                <div class="text-danger">
                                    <%= errors.size.msg; %>
                                </div>
                            <% } %>
                        </div>
                        <div class="color-pickers-wrapper">
                            <h3 class="register-label">Colores</h3>
                            <div class="colors">
                                <input type="color" id="colorpicker1" name="color1" value="<%= (old.color1) ? old.color1 : "#ffffff"%>">
                                <input type="color" id="colorpicker2" name="color2" value="<%= (old.color2) ? old.color2 : "#ffffff"%>">
                                <input type="color" id="colorpicker3" name="color3" value="<%= (old.color3) ? old.color3 : "#ffffff"%>">
                            </div>
                            <% if (locals.errors && errors.color1) { %>
                                <div class="text-danger">
                                    <%= errors.color1.msg; %>
                                </div>
                            <% } %>
                            <% if (locals.errors && errors.color2) { %>
                                <div class="text-danger">
                                    <%= errors.color2.msg; %>
                                </div>
                            <% } %>
                            <% if (locals.errors && errors.color3) { %>
                                <div class="text-danger">
                                    <%= errors.color3.msg; %>
                                </div>
                            <% } %>
                        </div>
                    </div>

                    <div class="price-discount-container">
                        <div class="form-group user">
                            <label for="price">Precio</label>
                            <input type="number" name="price" id="price" value="<%= old.price %>">
                            <% if (locals.errors && errors.price) { %>
                                <div class="text-danger">
                                    <%= errors.price.msg; %>
                                </div>
                            <% } %>
                        </div>
                        <div class="form-group discount">
                            <label for="discount">Descuento</label>
                            <input type="number" name="discount" id="discount" value="<%= old.discount %>">
                            <% if (locals.errors && errors.discount) { %>
                                <div class="text-danger">
                                    <%= errors.discount.msg; %>
                                </div>
                            <% } %>
                        </div>
                    </div>
                    <h3 class="register-label">Genero</h3>
                    <div class="radio-list-normalizer">
                        <div class="radio-group">
                            <input type="radio" id="gender" name="gender" value="male" <%= (old.gender == 'male') ? "checked" : '' %> checked>
                            <label for="gender">Hombre</label>
                        </div>
                        <div class="radio-group">
                            <input type="radio" id="gender" name="gender" value="female" <%= (old.gender == 'female') ? "checked" : '' %>>
                            <label for="gender">Mujer</label>
                        </div>
                        <div class="radio-group">
                            <input type="radio" id="gender" name="gender" value="unisex" <%= (old.gender == 'unisex') ? "checked" : '' %>>
                            <label for="gender">Unisex</label>
                        </div>
                    </div>
                    <% if (locals.errors && errors.gender) { %>
                        <div class="text-danger">
                            <%= errors.gender.msg; %>
                        </div>
                    <% } %>
                    <div class="form-group user">
                        <label for="description">Descripción</label>
                        <textarea class="description-txt" name="description" id="description" placeholder="Esbribe la description aqui..." ><%= (old.description) ? old.description : '-' %></textarea>
                        <% if (locals.errors && errors.description) { %>
                            <div class="text-danger">
                                <%= errors.description.msg; %>
                            </div>
                        <% } %>
                    </div>
                    <div class="upload-file-container">
                        <label for="product-image">Imagen del producto</label>
                        <input type="file" id="product-image" name="productImage">
                        <br>
                        <span>Este campo es requerido</span>
                        <% if (locals.errors && errors.productImage) { %>
                            <div class="text-danger">
                                <%= errors.productImage.msg; %>
                            </div>
                        <% } %>
                    </div>
                    
                    
                </div>
                <div class="send-container">
                    <button type="submit" class="submit-btn">Crear producto</button>
                </div>
            </form>
        </div>
    </main>


    <!-- Footer -->
    <%- include('../partials/footer') %>

    <!-- Scripts -->
    <script src="/js/hamburger.js"></script>
</body>
</html>