<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/nav-bar.css">
    <link rel="stylesheet" href="/css/product-details.css">
    <link rel="stylesheet" href="/css/prod-slider.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/home-styles.css">
</head>

<body>
    <!-- Nav-bar -->
    <%- include('../partials/nav-bar') %>

    <main>
        <div class="main-container">
            <div class="left-side">
                <div class="brand-logo-wrapper">
                    <img src="/images/products/logos/<%= (product.brands.logo) ? product.brands.logo : 'default-logo.jpg' %>" alt="">
                </div>
                <div class="image-container">
                    <img src="/images/products/<%= product.image %>" alt="">
                </div>
            </div>
            <div class="info-container">
                <div class="prod-info">
                    <div class="information">
                        <h2 class="brand"><%= product.brands.name %></h2>
                        <h1 class="model"><%= product.model %></h1>
                        <p class="prod-owner">Por <span><%= product.users.fullname %></span></p>
                    </div>
                    <% let isFav = false; %> 
                    <% if (locals.userLogged) { %>
                        <% const userId = product.favUsers[0] ? product.favUsers[0].id : '' %>
                        <% if (userId == locals.userLogged.id) { %>
                            <% isFav = true; %> 
                        <% } %>
                    <% } %>
                    <form action="/products/favorites/<%= product.id %>" method="POST">
                        <button type="submit" class="action-btn fav <%= isFav ? 'active-fav' : '' %> "><ion-icon name="heart-outline"></ion-icon></button>
                    </form>
                </div>
                <div class="description">
                    <h3 class="category"><%= product.categories.name %></h3>
                    <div class="price">
                        <h3>$<%= product.price %></h3>
                        <p><%= product.discount %>% OFF</p>
                    </div>

                    <p class="gender-title">Género: <span> <%= product.gender %></span></p>
                </div>
                <div class="selection">
                    <h3>Colores</h3>
                    <div class="colors-wrapper">
                        <% const colors = product.colors_hexa.split(','); %>
                        <% for(let j=0; j < colors.length; j++) { %>
                        <div class="color" style=<%= 'background-color:' + colors[j] + ';' %> ></div>
                        <% } %>
                    </div>
                
                    <h3>Talles</h3>
                    <select class="size-dropdown" size="1">
                        <% const sizes = product.size_eur.split(','); %>
                        <% for(let k=0; k < sizes.length; k++) { %>
                            <option value=""> <%= sizes[k] %> </option>
                        <% } %>
                     
                    </select>
                    <h3>Descripcion</h3>
                    <details class="prod-description">
                        <summary>Ver descripción</summary>
                        <p><%= product.description %></p>
                    </details>
                    <p class="stock"><%= product.stock %> producto/s en stock!</p>
                </div>
                <div class="buy">
                    <p>Comprar ahora</p>
                </div>
            </div>
        </div>
    </main>

    <!-- PRODUCTS CARROUSEL -->
    <%- include('../partials/product-slider') %>

    <!-- Footer -->
    <%- include('../partials/footer') %>

    <script src="/js/hamburger.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>