<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/nav-bar.css">
    <link rel="stylesheet" href="/css/product-details.css">
    <link rel="stylesheet" href="/css/prod-slider.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/home-styles.css">
</head>

<body>
    <!-- Nav-bar -->
    <%- include('../partials/nav-bar') %>

    <main>

        <div class="main-container">
            <div class="title">
                <h2 class="brand">Asics</h2>
                <h1 class="model">Evo Ride 2</h1>
                <p class="prod-owner">Por <span>Tomas Yu Nakasone</span></p>
            </div>
            <div class="image-container">
                <img src="/images/products/product-image1658786556482.png" alt="">
            </div>
            <div class="info-container">
                <div class="description">
                    <h3 class="category">CATEGORY</h3>
                    <div class="price">
                        <h3>$1500</h3>
                        <p>5% OFF</p>
                    </div>
                </div>
                <div class="selection">
                    <h3>Color</h3>
                    <div class="color-picker">
                        <div class="color"></div>
                        <div class="color"></div>
                        <div class="color"></div>
                    </div>
                    
                    <h3>Talles</h3>
                    <select class="size-dropdown" size="1">
                        <option>39</option>
                        <option>40</option>
                        <option>41</option>
                        <option>42</option>
                        <option>43</option>
                        <option>44</option>
                    </select>
                    
                    <p class="prod-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non voluptate provident pariatur libero aliquam, molestias repellendus sit modi quam illum!</p>
                    <p class="stock">15 productos en stock!</p>
                </div>
                <div class="buy">
                    <p>Comprar ahora</p>
                </div>
            </div>
        </div>













        <!-- <img class="imgDetails" src="/images/products/<%= sneakerEncontrado.image %>" alt="">
        <div class="detailRightContainer">
            <div class="DetailInfo">
                <p class="detailShoeName"><%= sneakerEncontrado.model %></p>
                <p class="detailShoePrice">$<%= sneakerEncontrado.price %> 
                    <% if (sneakerEncontrado.discount !== 0) { %>
                        <span style="color: green;";>%<%= sneakerEncontrado.discount %></span>
                    <% } %> 
                </p>
            </div>

            <select class="sizeButtonDetail" size="1">
                <option>size</option>
                <option>39</option>
                <option>40</option>
                <option>41</option>
                <option>42</option>
                <option>43</option>
                <option>44</option>
              </select>

            <button class="buyButtonDetail">
                Buy
            </button>
        </div> -->

    </main>
    <!-- <div class="descriptionDetailContainer">
        <%= sneakerEncontrado.description %>
    </div> -->

            <!-- PRODUCTS CARROUSEL -->
        <%- include('../partials/product-slider') %>

    <!-- Footer -->
    <%- include('../partials/footer') %>

    <script src="/js/hamburger.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>