<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/nav-bar.css">
    <link rel="stylesheet" href="/css/product-details.css">
    <link rel="stylesheet" href="/css/prod-slider.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/home-styles.css">
</head>

<body>
    <!-- Nav-bar -->
    <%- include('./partials/nav-bar') %>

    <main>
        <img class="imgDetails"
            src="<%= sneakerEncontrado.image %>"alt="">
        <div class="detailRightContainer">
            <div class="DetailInfo">
                <p class="detailShoeName"><%= sneakerEncontrado.model %></p>
                <p class="detailShoePrice">$<%= sneakerEncontrado.price %> 
                    <% if (sneakerEncontrado.discount !== 0) { %>
                        <span style="color: green;";>%<%= sneakerEncontrado.discount %></span>
                    <% } %> 
                </p>
            </div>

            <select class="sizeButtonDetail" size="1">
                <option>size</option>
                <option>39</option>
                <option>40</option>
                <option>41</option>
                <option>42</option>
                <option>43</option>
                <option>44</option>
              </select>

            <button class="buyButtonDetail">
                Buy
            </button>
        </div>

    </main>
    <div class="descriptionDetailContainer">
        <%= sneakerEncontrado.description %>
    </div>

            <!-- PRODUCTS CARROUSEL -->
        <%- include('./partials/product-slider') %>

    <!-- Footer -->
    <%- include('./partials/footer') %>

    <script src="/js/panels.js"></script>
    <script src="/js/hamburger.js"></script>
    <script src="/js/nav-bar-tabs.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>