<!DOCTYPE html>
<html lang="en">
        <head>
        <%- include('./partials/head') %> 
        <link rel="stylesheet" href="/css/nav-bar.css" />
        <link rel="stylesheet" href="/css/footer.css" />
        <link rel="stylesheet" href="/css/prod-slider.css" />
        <link rel="stylesheet" href="/css/shopping-cart.css" />
        <link rel="stylesheet" href="/css/normalize.css" />
        <title>Shopping cart</title>
    </head>
    <body>
        <!-- Nav-bar -->
        <%- include('./partials/nav-bar') %>

        <!-- CALCULAMOS LA SUMATORIA TOTAL DE LOS PRODUCTOS -->
        <% let total = 0; %>
        <% if (shoppingCart) { %>
            <% for( let i = 0; i < shoppingCart.products.length; i++ ) { %>
                <% total += parseInt(shoppingCart.products[i].price); %>
            <% } %>
        <% } %>
        <main>
            <div class="cart-main">
                <div class="cart-left">
                    <div class="cart-header">
                        <h1 class="header-tittle">TU CARRITO</h1>
                        <p class="header-text">TOTAL (<%= shoppingCart ? shoppingCart.products.length : '0' %>  productos)</p>
                        <p class="header-text">
                            Los productos seleccionados de Shocity no estan reservados.
                        </p>
                    </div>
                    <a href="/" class="cart-banner">
                        <p class="banner-text">CONTINUA COMPRANDO</p>
                        <p class="banner-item">>></p>
                    </a>
                    <% if (shoppingCart) { %>
                        <% for(let i=0; i< shoppingCart.products.length; i++) { %>
                        <div class="cart-item-list">
                            <div class="item">
                                <div class="item-picture">
                                    <img src="/images/products/<%= shoppingCart.products[i].image %> " alt="">
                                </div>
                                <div class="item-details">
                                    <h3 class="item-tittle">
                                        <%= shoppingCart.products[i].categories.name %> - <%= shoppingCart.products[i].model %>
                                    </h3>
                                    <p class="item-price">
                                        <%= shoppingCart.products[i].categories.name %>
                                    </p>
                                    <p class="item-price">
                                        ARS $ <%= shoppingCart.products[i].price %>
                                    </p>
                                    <button class="delete-prod">
                                        <p class="item-button">Quitar</p>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <% } %>
                    <% } %>
                </div>
                <div class="cart-right">
                    <div class="order-summery">
                        <h2 class="order-tittle">RESUMEN DEL PEDIDO</h2>
                        <% if (shoppingCart) { %>
                            <% for(let i=0; i< shoppingCart.products.length; i++) { %>
                            <div class="order-details">
                                <p class="order-text"><%= shoppingCart.products[i].model %></p>
                                <p class="order-text">ARS$ <%= shoppingCart.products[i].price %></p>
                            </div>
                            <% } %>
                        <% } %>

                        
                        <% if (total >= 2000) { %>
                            <div class="order-details">
                                <p class="order-text">ENTREGA</p>
                                <p class="order-text" style="color: green;">GRATIS</p>
                            </div>
                        <% } %>
						<hr>
                        <div class="order-details">
                            <p class="order-text-bold">TOTAL</p>
                            <p class="order-text-bold">$ <%= total %> </p>
                        </div>
                    </div>
                    <button class="cart-button">Comprar</button>
                </div>
            </div>
            <!-- PRODUCTS CARROUSEL -->
            <%- include('./partials/product-slider') %>
        </main>

        <!-- Footer -->
        <%- include('./partials/footer') %>

		<script src="/js/hamburger.js"></script>
    </body>
</html>
