<!DOCTYPE html>
<html lang="en">
        <head>
        <%- include('./partials/head') %> 
        <link rel="stylesheet" href="/css/nav-bar.css" />
        <link rel="stylesheet" href="/css/footer.css" />
        <link rel="stylesheet" href="/css/prod-slider.css" />
        <link rel="stylesheet" href="/css/shopping-cart.css" />
        <link rel="stylesheet" href="/css/normalize.css" />
        <title>Shopping cart</title>
    </head>
    <body>
        <!-- Nav-bar -->
        <%- include('./partials/nav-bar') %>
        
        <main>
            <div class="cart-main">
                <div class="cart-left">
                    <div class="cart-header">
                        <h1 class="header-tittle">TU CARRITO</h1>
                        <p class="header-text">TOTAL (<%=  %>  productos)</p>
                        <p class="header-text">
                            Los productos seleccionados de Shocity no estan reservados.
                        </p>
                        <ul>
                            <% for( let i = 0; i < shoppingCart.products.length; i++ ) { %>
                                <%= shoppingCart.products[i].brands.name %> 
                            <% } %>
                        </ul>
                    </div>
                    <a href="/" class="cart-banner">
                        <p class="banner-text">CONTINUA COMPRANDO</p>
                        <p class="banner-item">></p>
                    </a>
					<% for(let i=0; i< shoppingCart.products.length; i++) { %>
					<div class="cart-item-list">
						<div class="item">
							<div class="item-picture">
								<img src="/images/products/<%= shoppingCart.products[i].image %> " alt="">
							</div>
							<div class="item-details">
								<h3 class="item-tittle">ASICS - EVORIDE</h3>
								<p class="item-price"> <%= "ARS $" %> </p>
								
								<!-- <select class="item-quantity" name="quantity">
									<% for(let j=0; j< 5; j++) { %>
										<option value="<%= j+1 %>"> <%= j+1 %>  </option>
									<% } %>
								</select> -->
								<button class="delete-prod">
									<p class="item-button">Quitar</p>
								</button>
							</div>
						</div>
					</div>
					<% } %>
                </div>
                <div class="cart-right">
                    <div class="order-summery">
                        <h2 class="order-tittle">RESUMEN DEL PEDIDO</h2>
						<% for(let i=0; i<5; i++) { %>
						<div class="order-details">
							<p class="order-text">ADIDAS ULTRABOOST</p>
							<p class="order-text">$123</p>
						</div>
						<% } %>
                        <div class="order-details">
                            <p class="order-text">ENTREGA</p>
                            <p class="order-text" style="color: green;">GRATIS</p>
                        </div>
						<hr>
                        <div class="order-details">
                            <p class="order-text-bold">TOTAL</p>
                            <p class="order-text-bold"> <%= "$"  %> </p>
                        </div>
                    </div>
                    <button class="cart-button">Comprar</button>
                </div>
            </div>
            <!-- PRODUCTS CARROUSEL -->
            <%- include('./partials/product-slider') %>
        </main>

        <!-- Footer -->
        <%- include('./partials/footer') %>

		<script src="/js/hamburger.js"></script>
    </body>
</html>
