<section class="products-carrousel">
    <h1 class="section-title">TRENDING</h1>
    <div class="carrousel-container">
        <div class="controls" id="prod-prev-btn">
            <i class="fa-solid fa-chevron-left"></i>
        </div>
        <div class="content-container">
            <% for(let i=0; i<sneakers.length; i++) { %> 
            <article class="product">
                <div class="prod-header">
                    <a href=""><ion-icon name="bag-add-outline"></ion-icon></a>
                    <a href=""><ion-icon name="heart-outline"></ion-icon></a>
                </div>
                <div class="prod-picture">
                    <img src="<%= sneakers[i].image %> " alt="">
                </div>
                <div class="prod-description">
                    <h3 class="prod-category"><%= sneakers[i].category %></h3>
                    <h2 class="prod-title"><%= sneakers[i].brand %></h2>
                    <h2 class="prod-model"><%= sneakers[i].model %></h2>
                    <h3 class="prod-colors">Colores</h3>
                    <div class="colors-wrapper">
                        <% for(let j=0; j<sneakers[i].color.length; j++ ) { %>
                        <div class="color" style=<%= 'background-color:' + sneakers[i].color[j] + ';' %> ></div>
                        <% } %>
                    </div>
                    <div class="prod-price-desc">
                        <p>ARS $<%- sneakers[i].price %></p>
                        <% if (sneakers[i].discount !== 0) { %>
                            <p><%- sneakers[i].discount %>% OFF</p>
                        <% } %> 
                    </div>
                </div>
                <a href=""></a>
                <a href="<%= "/product-details/" + sneakers[i].id %>">
                    <button class="prod-button">VER</button>
                </a>
            </article>
            <% } %> 
        </div>
        <div class="controls" id="prod-next-btn">
            <i class="fa-solid fa-chevron-right"></i>
        </div>
    </div>
</section>