<div class="product-list-container">
    <div class="main-item-container">
        <% if (products.length == 0) { %>
            <br>
            <span>No hay productos!</span>
            <br>
        <% } %>
        
        <% for(let i=0; i<products.length; i++) { %>
            <div class="main-item">
                <div class="item-header">
                    <% let isFav = false; %> 
                    <% if (locals.userLogged) { %>
                        <% const userId = products[i].favUsers[0] ? products[i].favUsers[0].id : '' %>
                        <% if (userId == locals.userLogged.id) { %>
                            <% isFav = true; %> 
                        <% } %>
                    <% } %>
                    <button type="button" id="heart-<%= products[i].id %>" onclick="like(<%= products[i].id %>)" 
                        class="action-btn fav <%= isFav ? 'active-fav' : '' %> ">
                        <ion-icon name="heart-outline"></ion-icon>
                    </button>
                </div>
                <div class="item-image">
                    <a href="<%= "/products/" + products[i].id %> ">
                        <img src="/images/products/<%= (products[i].image) ? products[i].image : 'default.jpg' %> " alt="" />
                    </a>
                </div>
                <div class="prod-description">
                    <div class="brand-logo-wrapper">
                        <img src="/images/products/logos/<%= (products[i].brands.logo) ? products[i].brands.logo : 'default-logo.jpg' %>" alt="">
                    </div>
                    <h3 class="prod-category">
                        <%= products[i].categories.name %>
                    </h3>
                    <h2 class="prod-title">
                        <%= products[i].brands.name %>
                    </h2>
                    <h2 class="prod-model">
                        <%= products[i].model %>
                    </h2>
                    <h2 class="prod-price">ARS $<%= products[i].price %>
                    </h2>
                    <h2 class="prod-owner">Publicado por: <span><%= products[i].users.fullname %></span> </h2>
                </div>
                <% if (locals.activeUser && activeUser.role == 'admin') { %>
                    <div class="deleteEditProd">
                        <form action="/products/<%= products[i].id %>/edit" method="GET">
                            <button type="submit" class="editButton">Editar</button>
                        </form>
                        <form action="/products/delete/<%= products[i].id %>?_method=DELETE" method="POST">
                            <button type="submit" class="deleteButton">Borrar</button>
                        </form> 
                    </div>
                <% } %>
            </div>
            <% } %>
    </div>
</div>