<div class="product-list-container">
    <div class="main-item-container">
        <% if (products.length == 0) { %>
            <span>No hay productos!</span>
        <% } %>
        <% for(let i=0; i<products.length; i++) { %>
            <div class="main-item">
                <div class="item-header">
                    <form action="/products/shopping-cart/<%= products[i].id %>" method="POST">
                        <button type="submit" class="action-btn bag"><ion-icon name="bag-add-outline"></ion-icon></button>
                    </form>
                    <form action="/products/favorites/<%= products[i].id %>" method="POST">
                        <button type="submit" class="action-btn fav"><ion-icon name="heart-outline"></ion-icon></button>
                    </form>
                </div>
                <div class="item-image">
                    <a href="<%= "/products/" + products[i].id %> ">
                        <img src="/images/products/<%= (products[i].image) ? products[i].image : 'default.jpg' %> " alt="" />
                    </a>
                </div>
                <div class="prod-description">
                    <div class="brand-logo-wrapper">
                        <img src="/images/products/logos/<%= (products[i].brands.logo) ? products[i].brands.logo : 'default-logo.jpg' %>" alt="">
                    </div>
                    <h3 class="prod-category">
                        <%= products[i].categories.name %>
                    </h3>
                    <h2 class="prod-title">
                        <%= products[i].brands.name %>
                    </h2>
                    <h2 class="prod-model">
                        <%= products[i].model %>
                    </h2>
                    <h2 class="prod-price">ARS $<%= products[i].price %>
                    </h2>
                    <h2 class="prod-owner">Publicado por: <span><%= products[i].users.fullname %></span> </h2>
                </div>
                <% if (locals.activeUser && activeUser.role == 'admin') { %>
                    <div class="deleteEditProd">
                        <form action="/products/<%= products[i].id %>/edit" method="GET">
                            <button type="submit" class="editButton">Editar</button>
                        </form>
                        <form action="/products/delete/<%= products[i].id %>?_method=DELETE" method="POST">
                            <button type="submit" class="deleteButton">Borrar</button>
                        </form> 
                    </div>
                <% } %>
            </div>
            <% } %>
    </div>
</div>