<section class="products-carrousel">
    <h1 class="section-title">TRENDING</h1>
    <div class="carrousel-container">
        <div class="controls" id="prod-prev-btn">
            <i class="fa-solid fa-chevron-left"></i>
        </div>
        <div class="content-container">
            <% for(let i=0; i<products.length; i++) { %> 
            <article class="product">
                <div class="prod-header">
                    <form action="/products/shopping-cart/<%= products[i].id %>" method="POST">
                        <button type="submit" class="action-btn bag"><ion-icon name="bag-add-outline"></ion-icon></button>
                    </form>
                    <form action="/products/favorites/<%= products[i].id %>" method="POST">
                        <button type="submit" class="action-btn fav"><ion-icon name="heart-outline"></ion-icon></button>
                    </form>
                </div>
                <a href="<%= "/products/" + products[i].id %>">
                    <div class="prod-picture">
                        <img src="/images/products/<%= (products[i].image) ? products[i].image : 'default.png' %>" alt="">
                    </div>
                </a>
                <div class="prod-description">
                    <div class="brand-wrapper">
                        <img src="/images/products/logos/<%= (products[i].brands.logo) ? products[i].brands.logo : 'default-logo.jpg' %>" alt="">
                    </div>
                    <h3 class="prod-category"><%= products[i].categories.name %></h3>
                    <h2 class="prod-title"><%= products[i].brands.name %></h2>
                    <h2 class="prod-model"><%= products[i].model %></h2>
                    <h3 class="prod-colors">Colores</h3>
                    <div class="colors-wrapper">
                        <% let colors =  products[i].colors_hexa.split(',');%>
                        <% for(let j=0; j<colors.length; j++) { %>
                        <div class="color" style=<%= 'background-color:' + colors[j] + ';' %> ></div>
                        <% } %>
                    </div>
                    <div class="prod-price-desc">
                        <% const formattedDiscount =  (products[i].discount).split('.')[0]%>
                        <p>ARS $<%- products[i].price %></p>
                        <% if (products[i].discount !== 0) { %>
                            <p><%- formattedDiscount %>% OFF</p>
                        <% } %> 
                    </div>
                </div>
                <a href="<%= "/products/" + products[i].id %>">
                    <button class="prod-button">VER</button>
                </a>
            </article>
            <% } %> 
        </div>
        <div class="controls" id="prod-next-btn">
            <i class="fa-solid fa-chevron-right"></i>
        </div>
    </div>
</section>