<!DOCTYPE html>
<html lang="en">
        <head>
        <%- include('../partials/head') %> 
        <link rel="stylesheet" href="/css/nav-bar.css" />
        <link rel="stylesheet" href="/css/footer.css" />
        <link rel="stylesheet" href="/css/my-purchases.css" />
        <link rel="stylesheet" href="/css/normalize.css" />
        <title>Shopping cart</title>
    </head>
    <body>
        <!-- Nav-bar -->
        <%- include('../partials/nav-bar') %>
        <main>
            <div class="main-container">
                <div class="header-menu">
                    <h1 class="purchases-title">Mis compras</h1>
                    <% if (shoppingCart) { %>
                        <p><%= shoppingCart.products.length %> compras</p>
                    <% } else { %>
                        <span>No tienes compras!</span>
                    <% } %>
                </div>

                <% if (shoppingCart) { %>
                    <% for(let i=0; i< shoppingCart.products.length; i++) { %>
                    <div class="articles-container">
                        <div class="item">
                            <div class="purchase-number">
                                <p><span>Orden #</span><%= shoppingCart.transaction_number %></p>
                                <p class="item-status">Estado: <span>Finalizado</span> </p>
                            </div>
                            <div class="item-body">
                                <div class="picture">
                                    <a href="/products/<%= shoppingCart.products[i].id %>">
                                        <img src="/images/products/<%= shoppingCart.products[i].image %>" alt="">
                                    </a>
                                </div>
                                <div class="details">
                                    <div class="details-body">
                                        <p class="item-category">
                                            <%= shoppingCart.products[i].categories.name %>
                                        </p>
                                        <div class="brand-logo-wrapper">
                                            <img src="/images/products/logos/<%= shoppingCart.products[i].brands.logo %>" alt="">
                                        </div>
                                        <h2 class="item-name"><%= shoppingCart.products[i].model %></h2>
                                        <p class="item-brief-description"><%= shoppingCart.products[i].description %></p>
                                        <p class="item-price">ARS$ <%= shoppingCart.products[i].price %></p>
                                    </div>
                                </div>
                                <div class="action-btns">
                                    <a href="/products/<%= shoppingCart.products[i].id %>">
                                        <button type="submit" class="purchase-btn">
                                            <p class="item-button">Ver Producto</p>
                                        </button>
                                
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } %>
                <% } %>


                








            </div>


        </main>
        <!-- Footer -->
        <%- include('../partials/footer') %>

		<script src="/js/hamburger.js"></script>
    </body>
</html>
