<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %> 
    <link rel="stylesheet" href="/css/register-form.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/nav-bar.css">
    <link rel="stylesheet" href="/css/footer.css">
    <title>Register</title>
</head>
<body>
    <!-- Nav-bar -->
    <%- include('../partials/nav-bar') %>

    <main class="main-register">
        <div class="register-wrapper">
            <h1 class="form-title">Registrate</h1>
            <h4 class="form-subtitle ">Sé parte de Shoocity</h4>

            <form action="/users/register" method="POST" enctype="multipart/form-data">
                <div class="register-form-left">
                    <h3 class="register-label">Datos</h3>
                    <div class="form-group first-last-name">
                        <label for="name">Nombre y apellido</label>
                        <input type="text" name="name" class="<%= locals.errors && errors.name ? 'invalid' : '' %>"
                         id="name" value="<%= locals.old ? old.name : '' %>" >
                        <% if (locals.errors && errors.name) { %>
                            <div class="text-danger">
                                <%= errors.name.msg; %>
                            </div>
                        <% } %>
                    </div>
                    <div class="form-group user">
                        <label for="user">Usuario</label>
                        <input type="text" name="username" class="<%= locals.errors && errors.username ? 'invalid' : '' %>" 
                         id="username" value="<%= locals.old ? old.username : '' %>" >
                        <% if (locals.errors && errors.username) { %>
                            <div class="text-danger">
                                <%= errors.username.msg; %>
                            </div>
                        <% } %>
                    </div>
                    <div class="form-group user">
                        <label for="password">Password</label>
                        <input type="password" name="password" class="<%= locals.errors && errors.password ? 'invalid' : '' %>"
                         id="password" minlength="6" value="<%= locals.old ? old.password : '' %>" >
                        <% if (locals.errors && errors.password) { %>
                            <div class="text-danger">
                                <%= errors.password.msg; %>
                            </div>
                        <% } %>
                    </div>
                    <div class="form-group email">
                        <label for="email">E-mail</label>
                        <input type="email" name="email" class="<%= locals.errors && errors.email ? 'invalid' : '' %>"
                         id="email" value="<%= locals.old ? old.email : '' %>" >
                        <% if (locals.errors && errors.email) { %>
                            <div class="text-danger">
                                <%= errors.email.msg; %>
                            </div>
                        <% } %>
                    </div>
                    <div class="register-address">
                        <div class="form-group address">
                            <label for="address">Calle</label>
                            <input type="text" name="address" class="<%= locals.errors && errors.address ? 'invalid' : '' %>"
                            id="address" value="<%= locals.old ? old.address : '' %>" >
                           <% if (locals.errors && errors.address) { %>
                               <div class="text-danger">
                                   <%= errors.address.msg; %>
                               </div>
                           <% } %>
                        </div>
                        <div class="form-group addressNumber">
                            <label for="addressNumber">Numero</label>
                            <input type="number" name="addressNumber" class="<%= locals.errors && errors.addressNumber ? 'invalid' : '' %>"
                            id="addressNumber" value="<%= locals.old ? old.addressNumber : '' %>" >
                           <% if (locals.errors && errors.addressNumber) { %>
                               <div class="text-danger">
                                   <%= errors.addressNumber.msg; %>
                               </div>
                           <% } %>
                        </div>
                    </div>
                    <h3 class="register-label">Fecha de nacimiento</h3>
                    <div class="form-group">
                        <input type="date" name="birthdate" class="<%= locals.errors && errors.birthdate ? 'invalid' : '' %>"
                         id="birthdate" value="<%= locals.old ? old.birthdate : '' %>" >
                        <% if (locals.errors && errors.birthdate) { %>
                            <div class="text-danger">
                                <%= errors.birthdate.msg; %>
                            </div>
                        <% } %>
                    </div>
                </div>
                <div class="register-form-right">
                    <h3 class="register-label">Perfil de usuario</h3>
                    <div class="radio-list">
                        <div class="radio-group">
                            <input type="radio" id="role2" name="role" value="customer" <%= (locals.old && old.role == 'customer') ? "checked" : '' %> checked>
                            <label for="buySell">Cliente</label>
                        </div>
                        <div class="radio-group">
                            <input type="radio" id="role" name="role" value="admin" <%= (locals.old && old.role == 'admin') ? "checked" : '' %>>
                            <label for="buySell">Administrador</label>
                        </div>
                    </div>
                    <h3 class="register-label">Genero</h3>
                    <div class="radio-list">
                        <div class="radio-group">
                            <input type="radio" id="gender" name="gender" value="male" <%= (locals.old && old.gender == 'male') ? "checked" : '' %> checked>
                            <label for="gender">Hombre</label>
                        </div>
                        <div class="radio-group">
                            <input type="radio" id="gender2" name="gender" value="female" <%= (locals.old && old.gender == 'female') ? "checked" : '' %>>
                            <label for="gender">Mujer</label>
                        </div>
                        <div class="radio-group">
                            <input type="radio" id="gender3" name="gender" value="other" <%= (locals.old && old.gender == 'other') ? "checked" : '' %>>
                            <label for="gender">Otro</label>
                        </div>
                    </div>
                    <h3 class="register-label">País de nacimiento</h3>
                    <select class="country-combobox" name="country" id="country">
                        <% let countries = ["Argentina", "Bolivia", "Brasil", "Colombia", "Chile", "Ecuador", "Paraguay", "Perú", "Uruguay", "Venezuela"] %>
                        <% for( let i = 0; i < countries.length; i++ ) { %>
                            <option value="<%= countries[i] %>" <%= (locals.old && old.country == countries[i]) ? "selected" : '' %>><%= countries[i] %></option>
                        <% } %>
                    </select>
                    <!--AGREGADO-->
                    <h3 class="register-label">Cash</h3>
                    <select class="cash-combobox" name="cash" id="cash">
                        <% let cash = ["$ARS", "US$D", "EUR", "GBP"] %>
                        <% for( let i = 0; i < cash.length; i++ ) { %>
                            <option value="<%= cash[i] %>" <%= (locals.old && old.cash == cash[i]) ? "selected" : '' %>><%= cash[i] %></option>
                        <% } %>
                    </select>
                    <div class="upload-file-container">
                        <label for="profileImage">Foto de perfil</label>
                        <input type="file" id="profileImage" name="profileImage">
                        <% if (locals.errors && errors.profileImage) { %>
                            <div class="text-danger">
                                <%= errors.profileImage.msg; %>
                            </div>
                        <% } %>
                    </div>
                    <div class="upload-file-container">
                        <label for="bannerImage">Banner</label>
                        <input type="file" id="bannerImage" name="bannerImage">
                        <% if (locals.errors && errors.bannerImage) { %>
                            <div class="text-danger">
                                <%= errors.bannerImage.msg; %>
                            </div>
                        <% } %>
                    </div>
                </div>
                <div class="send-container">
                    <button type="submit" class="submit-btn">Crear cuenta</button>
                </div>
            </form>
        </div>
    </main>


    <!-- Footer -->
    <%- include('../partials/footer') %>

    <!-- Scripts -->
    <script src="/js/hamburger.js"></script>
</body>
</html>