<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %> 
    <link rel="stylesheet" href="/css/register-form.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/nav-bar.css">
    <link rel="stylesheet" href="/css/footer.css">
    <title>Register</title>
</head>
<body>
    <!-- Nav-bar -->
    <%- include('../partials/nav-bar') %>

    <main class="main-register">
        <div class="register-wrapper">
            <h1 class="form-title">Registrate</h1>
            <h4 class="form-subtitle ">Sé parte de Shoocity</h4>

            <form action="/user/register" method="POST" enctype="multipart/form-data">
                <div class="register-form-left">
                    <h3 class="register-label">Datos</h3>
                    <div class="form-group first-last-name">
                        <label for="name">Nombre y apellido</label>
                        <input type="text" name="name" id="name" value="<%= formData ? formData.name : '' %>" required>
                    </div>
                    <div class="form-group user">
                        <label for="user">Usuario</label>
                        <input type="text" name="username" id="username" value="<%= formData ? formData.username : '' %>" required>
                    </div>
                    <div class="form-group user">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" minlength="6" value="<%= formData ? formData.password : '' %>" required>
                    </div>
                    <div class="form-group email">
                        <label for="email">E-mail</label>
                        <input type="email" name="email" id="email" value="<%= formData ? formData.email : '' %>" required>
                    </div>
                    <div class="form-group domicilio">
                        <label for="address">Domicilio</label>
                        <input type="text" name="address" id="address" value="<%= formData ? formData.address : '' %>" required>
                    </div>
                    <h3 class="register-label">Fecha de nacimiento</h3>
                    <div class="form-group">
                        <input type="date" name="birthdate" id="birthdate" value="<%= formData ? formData.birthdate : '' %>" required>
                    </div>
                </div>
                <div class="register-form-right">
                    <h3 class="register-label">Perfil de usuario</h3>
                    <div class="radio-list">
                        <div class="radio-group">
                            <input type="radio" id="role" name="role" value="admin" <%= (formData.role == 'admin') ? "checked" : '' %> checked>
                            <label for="buySell">Administrador</label>
                        </div>
                        <div class="radio-group">
                            <input type="radio" id="role" name="role" value="customer" <%= (formData.role == 'customer') ? "checked" : '' %>>
                            <label for="buySell">Cliente</label>
                        </div>
                    </div>
                    <h3 class="register-label">Genero</h3>
                    <div class="radio-list">
                        <div class="radio-group">
                            <input type="radio" id="gender" name="gender" value="male" <%= (formData.gender == 'male') ? "checked" : '' %> checked>
                            <label for="gender">Hombre</label>
                        </div>
                        <div class="radio-group">
                            <input type="radio" id="gender" name="gender" value="female" <%= (formData.gender == 'female') ? "checked" : '' %>>
                            <label for="gender">Mujer</label>
                        </div>
                        <div class="radio-group">
                            <input type="radio" id="gender" name="gender" value="other" <%= (formData.gender == 'other') ? "checked" : '' %>>
                            <label for="gender">Otro</label>
                        </div>
                    </div>
                    <h3 class="register-label">País de nacimiento</h3>
                    <select class="country-combobox" name="country" id="country">
                        <option value="ARG" <%= (formData.country == 'ARG') ? "selected" : '' %>>Argentina</option>
                        <option value="BRZ" <%= (formData.country == 'BRZ') ? "selected" : '' %>>Brasil</option>
                        <option value="CHL" <%= (formData.country == 'CHL') ? "selected" : '' %>>Chile</option>
                        <option value="PER" <%= (formData.country == 'PER') ? "selected" : '' %>>Peru</option>
                        <option value="BLV" <%= (formData.country == 'BLV') ? "selected" : '' %>>Bolivia</option>
                        <option value="UGY" <%= (formData.country == 'UGY') ? "selected" : '' %>>Uruguay</option>
                    </select>
                    <div class="upload-file-container">
                        <label for="profileImage">Foto de perfil</label>
                        <input type="file" id="profileImage" name="profileImage">
                    </div>
                    <div class="upload-file-container">
                        <label for="bannerImage">Banner</label>
                        <input type="file" id="bannerImage" name="bannerImage">
                    </div>
                </div>
                <div class="send-container">
                    <div class="error-message-container">
                        <label class="error-msg"><%= errorMsg %></label>
                    </div>
                    <button type="submit" class="submit-btn">Crear cuenta</button>
                </div>
            </form>
        </div>
    </main>


    <!-- Footer -->
    <%- include('../partials/footer') %>

    <!-- Scripts -->
    <script src="/js/hamburger.js"></script>
</body>
</html>