<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %> 
    <link rel="stylesheet" href="/css/user-list.css">
    <link rel="stylesheet" href="/css/nav-bar.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/normalize.css">
</head>
<body>
    <!-- Nav-bar -->
    <%- include('../partials/nav-bar') %>

    <main>
        <div class="users-container">
            <h1>Lista de usuarios</h1>
            <div class="controllers">
                <form class="search-bar" action="/users/search" method="GET">
                    <div class="search-container">
                        <input class="search-input" type="search" name="search" id="search" placeholder="Nombre"/>
                        <button class="search-btn">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </div>
                </form>
                <form class="user-filter-container" action="/users/filter" method="GET">
                    <p>Ordenar por:</p>
                    <input type="submit" class="<%= (filter == 'all') ? 'filter-btn active' : 'filter-btn' %>" name="filter" value="all">
                    <input type="submit" class="<%= (filter == 'id') ? 'filter-btn active' : 'filter-btn' %>" name="filter" value="id" >
                    <input type="submit" class="<%= (filter == 'role') ? 'filter-btn active' : 'filter-btn' %>" name="filter" value="role">
                    <input type="submit" class="<%= (filter == 'name') ? 'filter-btn active' : 'filter-btn' %>" name="filter" value="name">
                    <input type="submit" class="<%= (filter == 'country') ? 'filter-btn active' : 'filter-btn' %>" name="filter" value="country">
                </form>
            </div>

            <div class="users-list">
                <% for(let i=0; i<users.length; i++) { %>
                <article class="user-card">
                    <div class="banner">
                        <img src="/images/users/banners/<%= users[i].banner ? users[i].banner : 'default-banner.jpg' %>" alt="">
                    </div>
                    <div class="data">
                        <img src="/images/users/profiles/<%= users[i].avatar ? users[i].avatar : 'default.jpg' %>" alt=""/>
                        <div class="data-info">
                            <p class="data-title">NAME</p>
                            <p class="data-text"><%= users[i].fullname %></p>
                            <p class="data-title">USERNAME</p>
                            <p class="data-text"><%= users[i].username %></p>
                            <p class="data-title">ROLE</p>
                            <p class="data-text"><%= users[i].role %></p>
                            <p class="data-title">COUNTRY</p>
                            <p class="data-text"><%= users[i].country %></p>
                            <p class="data-title">ID</p>
                            <p class="data-text"><%= users[i].id %></p>
                        </div>
                    </div>
                    <div class="actions-container">
                        <form action="/users/<%= users[i].id %>/edit" method="GET">
                            <button type="submit" class="action-btn edit active">Edit</button>
                        </form>
                        <br>
                        <form action="/users/<%= users[i].id %>?_method=DELETE" method="POST">
                            <button type="submit" class="action-btn delete active">Delete</button>
                        </form>
                    </div>
                </article>
                <% } %>

            </div>
        </div>
    </main>

    <!-- Footer -->
    <%- include('../partials/footer') %>

    <script src="/js/hamburger.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>